.nav-container {
  display: flex;
  background-color: #0dc5e7;
  margin-top: -6px;
  align-items: center;
}

.navbar-png {
  width: 15%;
}

.nav-text {
  margin: 0px 0px 0px 60%;
  display: flex;
}

/* ... existing styles ... */

.source,
.about {
  margin: 0 50px;
  color: white;
  font-size: 25px;
  transition: color 0.3s, transform 0.3s; /* Add transition effects */
}

.source:hover,
.about:hover {
  color: #0e5ced; /* Change text color on hover */
  transform: scale(1.1); /* Apply scale effect on hover */
  border-bottom: 3px solid #0e5ced;
}
