.nav-container {
    display: flex;
    background-color: #488eff;
    margin-top: 10px;
    align-items: center; /* Vertically center content */
}

.navbar-png {
    width: 20%;
}

.nav-text {
    margin: 0px 0px 0px 1200px;
    display: flex; 
}

.source,
.about {
    margin: 0 15px;
    color: white; 
    font-size: 30px;
}
